.App-header img{
  width: 80px;
  height: 50px;
}
.App-wrapper{
  display: grid;
  grid-template-areas: "h h" "n m";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}
.App-header{
  grid-area: h;
  background-color: #2F5D62;
}
.nav{
  grid-area: n;
  background-color: #5E8B7E;
}
.mine{
  grid-area: m;
  background-color: #A7C4BC;
}
